.pagination {
  display: flex;
  align-items: center;
  gap: 14px;
  /* border: 1px solid yellow; */
}

.backBtn,
.nextBtn {
  width: 37px;
  height: 37px;
  border-radius: 15px;
  background-color: rgba(241, 241, 241, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 6.5px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.backBtn:hover,
.nextBtn:hover {
  transform: scale(1.2);
}

.pagination img {
  width: 24px;
  height: 24px;
}

.CurrentPage {
  width: 37px;
  height: 37px;
  border-radius: 5px;
  background: rgba(67, 150, 123, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 5.5px 11.5px;
  text-align: center;
}
