.home {
  width: 1256px;
  height: 781px;
  background: rgba(59, 59, 59, 1);
  padding: 20px;
}
.heading {
  font-size: 32px;
  font-weight: 700;
  line-height: 36.77px;
  text-align: left;
  margin-bottom: 9px;
}
.top {
  width: 1211px;
  height: 269px;
  /* border: 1px solid gold; */
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(98, 98, 98, 1);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.box {
  width: 355.41px;
  height: 181px;
  border-radius: 15px;
  background: rgba(155, 155, 155);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 19px;

  font-size: 30px;
  font-weight: 400;
  line-height: 34.47px;
  text-align: left;
}

.box > button {
  margin-top: 10px; /* Adjust as needed */

  font-size: 16px;
  font-weight: 700;
  line-height: 18.38px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  border-radius: 15px;

  width: 167.65px;
  height: 38px;
  background: linear-gradient(90deg, #b5dc52 0%, #89e148 100%);
}
.expenseBtn {
  background: linear-gradient(
    90deg,
    #ff9595 0%,
    #ff4747 80%,
    #ff3838 100%
  ) !important;
}

.addMoney {
  width: 1256px;
  height: 781px;
  /* border: 2px solid yellowgreen; */
  background-color: rgba(255, 255, 255, 0.77);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom {
  display: flex;
  margin-top: 36px;
  justify-content: space-between;
}
.transactions {
  /* border: 2px solid yellowgreen; */
  border-radius: 15px;
  width: 738.33px;
  height: 387px;
}
.top_expenses {
  width: 417px;
  height: 387px;
  /* border: 2px solid gold; */
  border-radius: 15px;
}
.headings_1 {
  font-size: 28px;
  font-style: italic;
  font-weight: 700;
  line-height: 32.17px;
  text-align: left;
  color: white;
  margin-bottom: 10px;
}
.horizontalGraph {
  width: 417px;
  height: 345px;
  /* border: 2px solid gold; */
  border-radius: 15px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  display: flex;
  gap: 10px;
  color: black;
  padding: 30px 10px;
}
.YaxisNames {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid gold; */
  align-items: flex-end;
}
.bars {
  width: 400px;
  /* border: 2px solid gold; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bars > div {
  height: 21.73px;
  border-radius: 0 20px 20px 0;
  background-color: #89e148;
}
.transactionsDetails {
  width: 738.33px;
  height: 345.03px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 10px;
}

.pagination {
  /* justify-self: right; */
  margin-top: auto;
}
